p
{
  font-family: cursive;
  font-size: large;
  color: #ffffff;
  background-color: #003e79;
}
h1
{
  font-family: "Times New Roman",Georgia,serif;
  font-size: 40px;
  text-align: center;
  text-decoration: underline;
  color: #ffffff;
  background-color: #3b7ac2;
}
