body {
    background-color: rgba(232, 236, 236, 0.767);
    text-align: center;
  }
  h1 {
    color: rgb(2, 2, 20);
  }
  p {
    color: rgb(33, 157, 214);
  }

  
  .shape{
    text-align:center;
    background:
      linear-gradient(65deg , transparent 50%,rgba(3,78,136,0.7) 50%) left no-repeat, 
      linear-gradient(0deg , rgba(3,78,136,0.7),rgba(3,78,136,0.7)) 30px 0 no-repeat;
    
    background-size:30px 100%, 100% 100%;
    width:200px;
    height:60px;
    line-height:60px;
    padding:0 20px;
    color:white;
    margin:20px auto;
    position:relative;
  }
  body {
    /*background:url(http://lorempixel.com/640/480);*/
    background-size:cover;
    }